<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>agent-gate</contextName>
    <!--自定义日志转换规则，添加颜色高亮支持-->
    <conversionRule conversionWord="colored" converterClass="io.github.sgpublic.kotlin.core.logback.converter.ColoredConverter"/>

    <!--输出到控制台的 appender-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!--自定义过滤器，自动判断 debug 环境-->
<!--        <filter class="io.github.sgpublic.agentgate.core.logback.ConsoleFilter" />-->
        <encoder class="io.github.sgpublic.kotlin.core.logback.encoder.ConsolePatternLayoutEncoder">
            <!--自定义格式化日志布局，优化日志定位支持-->
            <pattern>%colored(%d{yyy-MM-dd HH:mm:ss.SSS} %-5level \(%trace\): %msg%n)</pattern>
        </encoder>
    </appender>

    <root level="ALL">
        <appender-ref ref="console" />
    </root>
</configuration>